@tailwind base;
@tailwind components;
@tailwind utilities;

/*
=============== 
Fonts
===============
*/

@import url("https://fonts.googleapis.com/css2?family=Lora&family=Montserrat&display=swap");
/*
=============== 
Global Styles
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
=============== 
Variables
===============
*/

:root {
  /* colors */
  --clr-primary-one: #eff1ff;
  --clr-white: #fff;
  --clr-primary-two: #6266f5;
  --clr-primary-three: #373c67;
  /* fonts */
  --ff-primary: "Montserrat", sans-serif;
  --ff-heading: "Lora", serif;
}

body {
  font-size: 16px;
  font-family: var(--ff-primary);
}

ul {
  list-style-type: none;
}
